Server/TestClient/Service References/GameService/PlayerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPlayerPlugin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerPlugin" nillable="true" type="tns:PlayerPlugin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerPlugin" nillable="true" type="tns:ArrayOfPlayerPlugin" />
  <xs:complexType name="PlayerPlugin">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerPlugin" nillable="true" type="tns:PlayerPlugin" />
</xs:schema>