Server/TestClient/Service References/GameService/PlayerService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11112/PlayerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Server.API" />
  <xs:complexType name="ArrayOfNullableOfBidruputMNc">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server.API" minOccurs="0" maxOccurs="unbounded" name="Bid" nillable="true" type="q1:Bid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNullableOfBidruputMNc" nillable="true" type="tns:ArrayOfNullableOfBidruputMNc" />
  <xs:complexType name="ArrayOfNullableOfCardruputMNc">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server.API" minOccurs="0" maxOccurs="unbounded" name="Card" nillable="true" type="q2:Card" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNullableOfCardruputMNc" nillable="true" type="tns:ArrayOfNullableOfCardruputMNc" />
</xs:schema>